
<div class="container">
    <h2 class="mb-5 mt-3 text-center">SIGN UP</h2>
    <form #f="ngForm" (ngSubmit)="signUp(f)">
        <div class="row">
            <div class="name col-12 col-lg-5 mb-5">
                    <input #name="ngModel" class="form-control " ngModel type="text" placeholder="Enter Your Name"
                    name="name" required>
                <div class="alert alert-danger" *ngIf="name.invalid && name.touched">Name Is Required</div>
            </div>
            <div class="name col-12 col-lg-5  mb-5">
                <input #email = "ngModel" class="form-control " ngModel type="email" placeholder="Enter Your Email" name="email"
                required email>
                <div class="alert alert-danger" *ngIf="email.errors?.required && email.touched">Email Is Required</div>
                <div class="alert alert-danger" *ngIf="email.errors?.email && email.touched">Your Input doesn's Match Email Format @</div>
            </div>
            <div class="name col-12 col-lg-5  mb-5">
                <input class="form-control " ngModel type="password" #password="ngModel"
                placeholder="Enter Your Password" name="password" required minlength="6">
                <div class="alert alert-danger" *ngIf="password.errors?.required && password.touched">Password Is Required</div>
                <div class="alert alert-danger" *ngIf="password.errors?.minlength && password.touched">Password Should be 6+ charachters</div>
            </div>
            <div class="name col-12 col-lg-5  mb-5">
                <input class="form-control " ngModel type="password" #passwordConfirm="ngModel"
                placeholder="Enter Your Confirm Password" name="ConfirmPassword" required>
                <div class="alert alert-danger" *ngIf="passwordConfirm.errors?.requierd && passwordConfirm.touched ">passwordConfirm Is requierd</div>
                <div class="alert alert-danger" *ngIf="passwordConfirm.value !== password.value && passwordConfirm.touched ">Password Are not Equal</div>
            </div>
            <div class="name col-12 col-lg-5  mb-5">
                <input class="form-control " ngModel type="text" #mobile="ngModel"
                placeholder="Enter Your  Mobile" name="mobile" required>
                <div class="alert alert-danger" *ngIf="mobile.invalid && mobile.touched">Mobile Is Required</div>
            </div>
            <div class="name col-12 col-lg-5  mb-5">
                <input #address = "ngModel" class="form-control " ngModel type="address" placeholder="Enter Your Address"
                name="address" required>
                <div class="alert alert-danger" *ngIf="address.invalid && address.touched">Address Is Required</div>
            </div>
        </div>
        <button class="btn btn-primary" [disabled]="f.invalid || password.value !== passwordConfirm.value">Create
            Account</button>
    </form>
    <div class="alert alert-danger" *ngIf='errorMessage'>{{errorMessage}}</div>
</div>